
html
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover




// display style
#display
  height: 150px
  background: linear-gradient(black, lighten(black, 40%))

.calculator-body
  background-color: $calculatorBG

.operation-row
  background-color: black
  color: white
  margin-left: 0
  margin-right: 0
  .operation-btn
    +operation-effect

  // style clear button
  #clear-btn
    background-color: orange
    border-radius: 0
    margin-left: -15px
    margin-bottom: -20px
    padding-top: 25px
    padding-bottom: 20px
    text-align: center
.row-buttons
  padding-bottom: 20px
.special-row
  padding-bottom: 0


  .btn
    margin-bottom: -20px
    padding-top: 25px
    padding-bottom: 20px
    font-weight: bolder

  .operation-btn
    +operation-effect

  .img-effect
    img
      margin-bottom: -20px
      padding-top: 25px
      padding-bottom: 5px
    &:hover
      img
        transition: all 0.5s ease
        transform: scale(1.2)
  .special-effect
    background-color: black
    width: 20%
    color: white
    height: 80px
