
html
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover




// display style
#display
  height: 100px
  background-color: lighten(green, 60%)

.calculator-body
  background-color: $calculatorBG


.row-buttons
.operation-row
  background-color: white
  margin-left: 0.5%
  margin-right: 0.5%

  // style clear button
  #clear-btn
    background-color: orange
    border-radius: 0
    margin-left: -15px
  .operation-btn
    font-weight: bolder
    &:hover
      color: orange
