html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#display {
  height: 100px;
  background-color: #b3ffb3; }

.calculator-body {
  background-color: #dadada; }

.operation-row {
  background-color: white;
  margin-left: 0.5%;
  margin-right: 0.5%; }
  .operation-row #clear-btn {
    background-color: orange;
    border-radius: 0;
    margin-left: -15px; }
  .operation-row .operation-btn {
    font-weight: bolder; }
    .operation-row .operation-btn:hover {
      color: orange; }
