html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#display {
  height: 100px;
  background-color: #b3ffb3; }

.calculator-body {
  background-color: #dadada; }

.row-buttons {
  padding-bottom: 20px; }
  .row-buttons .btn {
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 20px; }
  .row-buttons img {
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 5px; }
    .row-buttons img:hover {
      transition: all 0.5s ease;
      background-color: gold; }

.operation-row {
  background-color: white;
  margin-left: 0.5%;
  margin-right: 0.5%; }
  .operation-row #clear-btn {
    background-color: orange;
    border-radius: 0;
    margin-left: -15px;
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center; }
  .operation-row .operation-btn {
    font-weight: bolder; }
    .operation-row .operation-btn:hover {
      color: orange; }
