html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#display {
  height: 150px;
  background: linear-gradient(black, #666666); }

.calculator-body {
  background-color: #dadada; }

.operation-row {
  background-color: black;
  color: white;
  margin-left: 0;
  margin-right: 0; }
  .operation-row .operation-btn {
    font-weight: bolder; }
    .operation-row .operation-btn:hover {
      color: orange; }
  .operation-row #clear-btn {
    background-color: orange;
    border-radius: 0;
    margin-left: -15px;
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center; }

.row-buttons {
  padding-bottom: 20px; }

.special-row {
  padding-bottom: 0; }
  .special-row .btn {
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: bolder; }
  .special-row .operation-btn {
    font-weight: bolder; }
    .special-row .operation-btn:hover {
      color: orange; }
  .special-row .img-effect img {
    margin-bottom: -20px;
    padding-top: 25px;
    padding-bottom: 5px; }
  .special-row .img-effect:hover img {
    transition: all 0.5s ease;
    transform: scale(1.2); }
  .special-row .special-effect {
    background-color: black;
    width: 20%;
    color: white;
    height: 80px; }
